[Unit]
Description=uWSGI occasion to serve family_spending
After=community.goal

[Service]
Person=root
Group=www-data
WorkingDirectory=/var/www/family_spending
ExecStart=/root/.pyenv/shims/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.goal